body {
  @include therapy-font-size($therapy-body-font-size);
}

.container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 960px) {
    max-width: 100%;
  }

  @media screen and (min-width: 960px) {
    max-width: 960px;
  }

  @media screen and (min-width: 1140px) {
    max-width: 1140px;
  }
}
